 @font-face {
    font-family: 'pacificoregular';
    src: url('./pacifico-regular-webfont.woff2') format('woff2'),
         url('./pacifico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.city {
    color: hotpink;
    font-family: 'Courier New', Courier, monospace;
}
.info {
    font-family: 'pacificoregular';
}
body {
    background-color: whitesmoke;
}
a {
    color:deeppink
}
.pink {
    color: deeppink;
}
.aqua {
    color:rosybrown
}
.green {
    border: none;
    color:cadetblue;
    background-color: cadetblue;
    height: 15px;
   }
}


